[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "6.6.1"
peewee = "3.17.0"
coloredlogs = "15.0.1"
mypy = "*"
types-peewee = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python src/main.py"
