[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "6.6.1"
peewee = "3.17.0"
coloredlogs = "15.0.1"
mypy = "1.8.0"
types-peewee = "3.17.0"
pyinstaller = "6.3.0"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python src/main.py"
typecheck = "mypy src"
build = "pyinstaller main.spec --clean --noconfirm"
clean = "rm -rf build dist"
reset = "rm -r carpetdb.sqlite3 data/"

build_osx = "bash -c 'pipenv run build && ./scripts/build_dmg.sh'"